{% load allauth %}
{% if attrs.type == "checkbox" or attrs.type == "radio" %}
  <div class="field">
    <div class="control">
      <label class="{{ attrs.type }}" for="{{ attrs.id }}">
        <input {% if attrs.required %}required{% endif %}
               name="{{ attrs.name }}"
               id="{{ attrs.id }}"
               {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               type="{{ attrs.type }}">
        {% slot label %}
        {% endslot label %}
      </label>
    </div>
    {% if slots.help_text %}
      <p class="help">
        {% slot help_text %}
        {% endslot %}
      </p>
    {% endif %}
  </div>
{% elif attrs.type == "textarea" %}
  <div class="field">
    <label class="label" for="{{ attrs.id }}">
      {% slot label %}
      {% endslot %}
    </label>
    <div class="control">
      <textarea {% if attrs.required %}required{% endif %}
                {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                class="form-control"
                name="{{ attrs.name }}"
                {% if attrs.readonly %}readonly{% endif %}
                id="{{ attrs.id }}"
                {% if attrs.disabled %}disabled{% endif %}>{% slot value %}{% endslot %}</textarea>
    </div>
  </div>
{% elif attrs.type == "hidden" %}
  <div class="field">
    <div class="control">
      <input {% if attrs.required %}required{% endif %}
             name="{{ attrs.name }}"
             id="{{ attrs.id }}"
             {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
             type="hidden">
    </div>
  </div>
{% else %}
  <div class="field">
    {% if not attrs.unlabeled %}
      <label class="label" for="{{ attrs.id }}">
        {% slot label %}
        {% endslot %}
      </label>
    {% endif %}
    {% if attrs.unlabeled %}
      <label class="label" for="{{ attrs.id }}">
        {% slot label %}
        {% endslot %}
      </label>
    {% endif %}
    <div class="control">
      <input {% if attrs.required %}required{% endif %}
             name="{{ attrs.name }}"
             {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}" {% elif attrs.unlabeled %}placeholder="{% slot label %}{% endslot %}"{% endif %}
             class="{% if attrs.errors %}is-invalid{% endif %} input"
             id="{{ attrs.id }}"
             {% if attrs.readonly %}readonly{% endif %}
             {% if attrs.disabled %}disabled{% endif %}
             {% if attrs.tabindex %}tabindex="{{ attrs.tabindex }}"{% endif %}
             {% if attrs.style %}style="{{ attrs.style }}"{% endif %}
             {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
             {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
             type="{{ attrs.type }}">
    </div>
    {% if slots.help_text %}
      <p class="help">
        {% slot help_text %}
        {% endslot %}
      </p>
    {% endif %}
    {% if attrs.errors %}
      {% for error in attrs.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
    {% endif %}
  </div>
{% endif %}
