{% if evaluation_message %}<p class="block">{{ evaluation_message }}</p>{% endif %}
{% load static %}
<link href="{% static 'css/liberationmono.css' %}" rel="stylesheet" />
<table class="table">
  <thead>
    <tr>
      <th scope="col">Guess</th>
      <th scope="col" align="center">Evaluation</th>
      <th scope="col" align="center">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for guess in guesses %}
      <tr>
        <td>
          <span class="mono">{{ guess.text }}</span>
        </td>
        <td align="center">{{ guess.display_evaluation }}</td>
        <td align="right" class="nowrap">
          <span class="timestamp">{{ guess.created_at|date:"c" }}</span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  {% include "partials/timestamp_localize_script.html" %}
</table>
