{% load static %}
<link href="{% static 'css/story_prehunt.css' %}" rel="stylesheet" />
<p class="block has-text-centered">You receive an exciting piece of mail from the North Pole. You open it:</p>
<!--...-->
<div class="holiday-card block">
  <div class="holiday-card-outer has-text-centered">
    <p class="merienda is-size-2">Merry Christmas!</p>
    <div class="holiday-card-tree">
      <i class="bi bi-tree-fill"></i>
    </div>
    <div class="holiday-card-gift-1">
      <i class="bi bi-gift-fill"></i>
    </div>
    <div class="holiday-card-gift-2">
      <i class="bi bi-gift-fill"></i>
    </div>
    <div class="holiday-card-star">
      <i class="bi bi-star-fill"></i>
    </div>
    <div class="holiday-card-candy-cane-1">{% include "partials/svgs/candy-cane.svg" %}</div>
    <div class="holiday-card-candy-cane-2">{% include "partials/svgs/candy-cane.svg" %}</div>
    <div class="holiday-card-candy-cane-3">{% include "partials/svgs/candy-cane.svg" %}</div>
    <div class="holiday-card-candy-cane-4">{% include "partials/svgs/candy-cane.svg" %}</div>
  </div>
  <div class="holiday-card-inner-left has-text-centered">
    <div class="holiday-card-santa">
      <img src="{% static 'santa/icon.svg' %}"
           height="192"
           width="192"
           alt="Santa"
           onerror="this.src='{% static 'santa/icon-192.png' %}'" />
    </div>
    <div class="holiday-card-candy-cane-1">{% include "partials/svgs/candy-cane.svg" %}</div>
    <div class="holiday-card-candy-cane-2">{% include "partials/svgs/candy-cane.svg" %}</div>
    <div class="holiday-card-candy-cane-3">{% include "partials/svgs/candy-cane.svg" %}</div>
    <div class="holiday-card-candy-cane-4">{% include "partials/svgs/candy-cane.svg" %}</div>
  </div>
  <div class="holiday-card-inner-right">
    <div class="holiday-card-message content">
      <p>Ho ho ho!</p>
      <p>You're at the top of my Nice List this year. Excellent job!</p>
      <p>
        As a reward for your good behavior, I have a special gift for you: a visit to the North Pole this Christmas season! You will get to see the elves and me in action as we prepare to bring joy to children around the world.
      </p>
      <p>Merry Christmas!</p>
      <p>
        <span class="merienda">Santa Claus</span>
      </p>
    </div>
  </div>
</div>
<!--...-->
