@font-face {
    font-display: swap;
    font-family: 'Liberation Sans';
    src: url('../fonts/liberationsans/LiberationSans-Regular-webfont.woff') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Liberation Sans';
    font-weight: bold;
    src: url('../fonts/liberationsans/LiberationSans-Bold-webfont.woff') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Liberation Sans';
    font-style: italic;
    src: url('../fonts/liberationsans/LiberationSans-Italic-webfont.woff') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Liberation Sans';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/liberationsans/LiberationSans-BoldItalic-webfont.woff') format('woff2');
}

body {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
}

span.mono {
    font-family: "Liberation Mono", monospace, monospace;
}

/* Override Bulma colors */
/* :root {
    --bulma-text: #f00;
    --bulma-link: #000;
    --bulma-primary: #000;
    --bulma-info: #000;
    --bulma-success: #000;
    --bulma-warning: #000;
    --bulma-danger: #000;
} */
