@font-face {
    font-display: swap;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/merienda/merienda-v19-latin-500.woff2') format('woff2');
}

h1.title {
    font-family: "Merienda", "Brush Script MT", cursive;
}

span.title-small {
    font-size: 61.8%;
}
