@font-face {
    font-display: swap;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/merienda/merienda-v19-latin-500.woff2') format('woff2');
}

.center {
    text-align: center;
}

h1.home-title {
    font-family: "Merienda", "Brush Script MT", cursive;
    font-size: 4.5rem;
}

span.home-title-small {
    font-size: 61.8%;
}

img.splash {
    max-height: 480px;
    width: auto;
}
