th.center,
td.center {
    text-align: center;
}

th.right,
td.right {
    text-align: right;
}

table.xscroll {
    overflow-x: scroll;
}

th.sticky,
td.sticky {
    position: sticky;
}

td.team-name {
    max-width: 20rem;
    overflow-wrap: break-word;
}
