td.team-name {
    max-width: 20rem;
    overflow-wrap: break-word;
}

/* Adapted from https://github.com/cityssm/bulma-sticky-table/blob/main/_sticky-table.scss */
.table.has-sticky-header {
    thead th {
        background-color: var(--parchment);
        position: sticky;
        top: 0;
        z-index: 5;
    }
}
