.tester-controls-container {
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 1000;
}

.spoiler {
    background-color: var(--bulma-strong-color);
}

.spoiler:hover {
    background-color: var(--bulma-scheme-main);
}
