{% extends "allauth/layouts/manage.html" %}
{% block title %}
  {% block og_title %}
    Change username | {{ META_TITLE }}
  {% endblock og_title %}
{% endblock title %}
{% block breadcrumbs %}
  <li>
    <a href="{% url 'team_detail' user.id %}">Your Profile</a>
  </li>
  <li>
    <a href="{% url 'account_manage' %}">Manage Your Account</a>
  </li>
  <li class="is-active">
    <a href="#" aria-current="page">Change Username</a>
  </li>
{% endblock breadcrumbs %}
{% block content %}
  <h1 class="title is-1 block">Change username</h1>
  {% include "partials/form.html" %}
{% endblock content %}
