{% extends "allauth/layouts/manage.html" %}
{% block content %}
  <h1 class="title is-1 block">Manage your account</h1>
  <h2 class="title is-3 block">Update your team profile</h2>
  {% include "partials/form.html" %}
  <hr />
  <h2 class="title is-3 block">More Options</h2>
  <p class="block">
    <a class="button is-primary" href="{% url 'account_username' %}">Change Username</a>
    {% url 'account_email' as email_url %}
    {% if email_url %}
      <a class="{% block nav_class_email %}button is-primary{% endblock nav_class_email %}"
         href="{% url 'account_email' %}">Change or Add Emails</a>
    {% endif %}
    {% url 'account_change_password' as change_password_url %}
    {% if change_password_url %}
      <a class="{% block nav_class_password %}button is-primary{% endblock nav_class_password %}"
         href="{% url 'account_change_password' %}">Change Password</a>
    {% endif %}
    {% url 'mfa_index' as mfa_index_url %}
    {% if mfa_index_url %}
      <a class="{% block nav_class_mfa %}button is-primary{% endblock nav_class_mfa %}"
         href="{% url 'mfa_index' %}">Two-Factor Authentication</a>
    {% endif %}
    {% url 'usersessions_list' as usersessions_list_url %}
    {% if usersessions_list_url %}
      <a class="{% block nav_class_usersessions %}button is-primary{% endblock nav_class_usersessions %}"
         href="{{ usersessions_list_url }}">Sessions</a>
    {% endif %}
  </p>
{% endblock content %}
