{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{ META_DESCRIPTION }}" />
    <meta name="keywords" content="{{ META_KEYWORDS }}" />
    <meta name="author" content="{{ META_AUTHOR }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ META_TITLE }}</title>
    <!-- OpenGraph Metadata-->
    <meta property="og:image" content="{{ META_OG_IMAGE }}" />
    <meta property="og:description" content="{{ META_DESCRIPTION }}" />
    <meta property="og:title" content="{{ META_TITLE }}" />
    <!-- Favicons -->
    <link rel="icon" href="{% static 'santa/favicon.ico' %}" sizes="48x48">
    <link rel="apple-touch-icon"
          href="{% static 'santa/apple-touch-icon.png' %}">
    <!-- 180×180 -->
    <link rel="manifest" href="{% static 'santa-missing/site.webmanifest' %}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/versions/bulma-no-dark-mode.min.css"
          integrity="sha384-Mzv683sNGpHoqzflgja8HtOOXwSkg0WYgbi6iV3IjnOLZAsGNzzkdXxfHmJYT5dY"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar is-primary"
         role="navigation"
         aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item merienda" href="{% url 'home' %}">
            <img src="{% static 'santa/icon.svg' %}"
                 height="28"
                 width="28"
                 alt="Santa"
                 onerror="this.src='{% static 'santa/icon-32.png' %}'" />
            <strong>Advent Hunt</strong></a>
          <a role="button"
             class="navbar-burger"
             data-target="navMenu"
             aria-label="menu"
             aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home' %}">Home</a>
            <a class="navbar-item" href="{% url 'puzzle_list' %}">Puzzles</a>
            <a class="navbar-item" href="{% url 'story' %}">Story</a>
            <a class="navbar-item" href="{% url 'team_list' %}">Teams</a>
            <a class="navbar-item" href="{% url 'about' %}">About</a>
          </div>
          <div class="navbar-end">
            {% if user.is_authenticated %}
              <a class="navbar-item" href="{% url 'team_detail' user.id %}">{{ user.team_name }}</a>
              <a class="navbar-item"
                 href="#"
                 onClick="document.getElementById('logout-form').submit()">Logout</a>
            {% else %}
              <a class="navbar-item" href="{% url 'account_login' %}">Login</a>
              <a class="navbar-item" href="{% url 'account_signup' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    {% block body %}
    {% endblock body %}
    <form id="logout-form" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <input type="hidden">
    </form>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      });
    </script>
  </body>
</html>
