{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        {{ META_TITLE }}
      {% endblock title %}
    </title>
    <link rel="canonical" href="{{ CANONICAL_URL }}" />
    <meta name="description" content="{{ META_DESCRIPTION }}" />
    <meta name="keywords" content="{{ META_KEYWORDS }}" />
    <meta name="author" content="{{ META_AUTHOR }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- OpenGraph Metadata-->
    <meta property="og:description" content="{{ META_DESCRIPTION }}" />
    <meta property="og:title"
          content="{% block og_title %}{{ META_TITLE }}{% endblock og_title %}" />
    {% if not hunt_is_live %}
      <meta property="og:image" content="{{ META_OG_IMAGE_PREHUNT }}" />
    {% else %}
      <meta property="og:image" content="{{ META_OG_IMAGE }}" />
    {% endif %}
    <!-- Favicons -->
    {% if not hunt_is_live or user.is_finished %}
      {% comment %} Normal Santa Logo {% endcomment %}
      <link rel="icon" href="{% static 'santa/favicon.ico' %}" sizes="32x32">
      <link rel="icon"
            href="{% static 'santa/icon.svg' %}"
            sizes="any"
            type="image/svg+xml">
      <link rel="apple-touch-icon"
            href="{% static 'santa/apple-touch-icon.png' %}">
      <link rel="manifest" href="{% static 'santa/site.webmanifest' %}">
    {% else %}
      {% comment %} Santa Missing Logo {% endcomment %}
      <link rel="icon"
            href="{% static 'santa-missing-dark/favicon.ico' %}"
            sizes="32x32">
      <link rel="icon"
            href="{% static 'santa-missing-dark/icon.svg' %}"
            sizes="any"
            type="image/svg+xml">
      <link rel="apple-touch-icon"
            href="{% static 'santa-missing-dark/apple-touch-icon.png' %}">
      <link rel="manifest"
            href="{% static 'santa-missing-dark/site.webmanifest' %}">
    {% endif %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/versions/bulma-no-dark-mode.min.css"
          integrity="sha384-Mzv683sNGpHoqzflgja8HtOOXwSkg0WYgbi6iV3IjnOLZAsGNzzkdXxfHmJYT5dY"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
          integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI="
          crossorigin="anonymous"
          referrerpolicy="no-referrer">
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.12/htmx.min.js"
            integrity="sha512-JvpjarJlOl4sW26MnEb3IdSAcGdeTeOaAlu2gUZtfFrRgnChdzELOZKl0mN6ZvI0X+xiX5UMvxjK2Rx2z/fliw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script>
      // Only load goatcounter for production domain
      if (window.location.host !== 'www.adventhunt.com' && window.location.host !== 'adventhunt.com') {
          window.goatcounter = {no_onload: true}
      }
    </script>
    <script data-goatcounter="https://adventhunt.goatcounter.com/count"
            async
            src="//gc.zgo.at/count.js"></script>
  </head>
  <body>
    {% include "partials/navbar.html" %}
    {% block body %}
      <section class="section">
        <div class="container">
          {% include "partials/messages.html" %}
          {% block content %}
          {% endblock content %}
        </div>
      </section>
    {% endblock body %}
    <form id="logout-form" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <input type="hidden">
    </form>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      });
    </script>
    {% if user.is_tester %}
      {% include "partials/tester_controls.html" %}
    {% endif %}
  </body>
</html>
