{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="description" content="{{ META_DESCRIPTION }}" />
    <meta name="keywords" content="{{ META_KEYWORDS }}" />
    <meta name="author" content="{{ META_AUTHOR }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ META_TITLE }}</title>
    <!-- OpenGraph Metadata-->
    <meta property="og:image" content="{{ META_OG_IMAGE }}" />
    <meta property="og:description" content="{{ META_DESCRIPTION }}" />
    <meta property="og:title" content="{{ META_TITLE }}" />
    <!-- Favicons -->
    {% if santa_missing %}
      <link rel="icon"
            href="{% static 'santa-missing-dark/favicon.ico' %}"
            sizes="48x48">
      <link rel="apple-touch-icon"
            href="{% static 'santa-missing-dark/apple-touch-icon.png' %}">
      <link rel="manifest"
            href="{% static 'santa-missing-dark/site.webmanifest' %}">
    {% else %}
      <link rel="icon" href="{% static 'santa/favicon.ico' %}" sizes="48x48">
      <link rel="apple-touch-icon"
            href="{% static 'santa/apple-touch-icon.png' %}">
      <link rel="manifest" href="{% static 'santa/site.webmanifest' %}">
    {% endif %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/versions/bulma-no-dark-mode.min.css"
          integrity="sha384-Mzv683sNGpHoqzflgja8HtOOXwSkg0WYgbi6iV3IjnOLZAsGNzzkdXxfHmJYT5dY"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.12/htmx.min.js"
            integrity="sha512-JvpjarJlOl4sW26MnEb3IdSAcGdeTeOaAlu2gUZtfFrRgnChdzELOZKl0mN6ZvI0X+xiX5UMvxjK2Rx2z/fliw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
  </head>
  <body>
    {% include "partials/navbar.html" %}
    {% block body %}
      <section class="section">
        <div class="container">
          {% include "partials/messages.html" %}
          {% block content %}
          {% endblock content %}
        </div>
      </section>
    {% endblock body %}
    {% block footer %}
      <footer class="footer pt-5 pb-4">
        <div class="content has-text-centered">
          <p class="is-size-7 has-text-grey">© 2024 Peppermint Herrings 🎏</p>
        </div>
      </footer>
    {% endblock footer %}
    <form id="logout-form" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <input type="hidden">
    </form>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      });
    </script>
    {% if user.is_tester %}
      {% include "partials/tester_controls.html" %}
    {% endif %}
  </body>
</html>
