{% extends "base.html" %}
{% load static %}
{% block content %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet" />
  <section class="section">
    <div class="container">
      <div class="block center">
        <p>Peppermint Herrings 🎏 present...</p>
      </div>
      <div class="block center">
        <h1 class="title home-title">
          <span class="home-title-small">the</span> Advent Puzzle Hunt
        </h1>
      </div>
      <div class="block center">
        <img src="https://r2.jayqi.com/placeholder.png"
             alt="Splash image"
             class="splash"
             height="480"
             width="auto" />
      </div>
      <div class="block">
        <p>
          Ho ho ho, congratulations! You are cordially invited to visit the North Pole to see how Santa Claus and the elves prepare to bring joy to children around the world.
        </p>
        <p>–Santa</p>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-2">What</h2>
            <p>
              A puzzle hunt released as an advent calendar—one puzzle a day. See our <a href="{% url 'about' %}">About</a> page for more information.
            </p>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-2">When</h2>
            <p>December 1 through December 24, 2024.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
