{% extends "base.html" %}
{% load static %}
{% block body %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet" />
  <section class="hero is-primary">
    <div class="hero-body container">
      {% include "partials/messages.html" %}
      <p class="has-text-centered block">
        <span class="is-size-5">Peppermint Herrings 🎏 present...</span>
      </p>
      <h1 class="title home-title has-text-centered block">
        <span><span class="home-title-small">the</span> Advent Puzzle Hunt</span>
      </h1>
      <div class="has-text-centered block">
        <img src="https://r2.jayqi.com/placeholder.png"
             alt="Splash image"
             class="splash"
             height="480"
             width="auto" />
      </div>
    </div>
  </section>
  <section class="section in-front">
    <div class="container">
      <p class="block has-text-centered">You find an extravagant holiday card in your mailbox. You open it:</p>
      <!--...-->
      <div class="holiday-card block">
        <div class="holiday-card-outer has-text-centered">
          <p class="merienda is-size-2">Merry Christmas!</p>
          <div class="holiday-card-tree">
            <i class="bi bi-tree-fill"></i>
          </div>
          <div class="holiday-card-gift-1">
            <i class="bi bi-gift-fill"></i>
          </div>
          <div class="holiday-card-gift-2">
            <i class="bi bi-gift-fill"></i>
          </div>
          <div class="holiday-card-candy-cane-1">{% include "partials/svgs/candy-cane.svg" %}</div>
          <div class="holiday-card-candy-cane-2">{% include "partials/svgs/candy-cane.svg" %}</div>
          <div class="holiday-card-candy-cane-3">{% include "partials/svgs/candy-cane.svg" %}</div>
          <div class="holiday-card-candy-cane-4">{% include "partials/svgs/candy-cane.svg" %}</div>
        </div>
        <div class="holiday-card-inner-left has-text-centered">
          <div class="holiday-card-santa">
            <img src="{% static 'santa/icon.svg' %}"
                 height="192"
                 width="192"
                 alt="Santa"
                 onerror="this.src='{% static 'santa/icon-192.png' %}'" />
          </div>
          <div class="holiday-card-candy-cane-1">{% include "partials/svgs/candy-cane.svg" %}</div>
          <div class="holiday-card-candy-cane-2">{% include "partials/svgs/candy-cane.svg" %}</div>
          <div class="holiday-card-candy-cane-3">{% include "partials/svgs/candy-cane.svg" %}</div>
          <div class="holiday-card-candy-cane-4">{% include "partials/svgs/candy-cane.svg" %}</div>
        </div>
        <div class="holiday-card-inner-right">
          <div class="holiday-card-message content">
            <p>Ho ho ho!</p>
            <p>You are at the top of my nice list this year! Nice job!</p>
            <p>
              As thanks for being super, I have a special gift for you—a visit to the North Pole this Christmas season! You will get to see the elves and I in action as we prepare to bring joy to children around the world.
            </p>
            <p>Merry Christmas!</p>
            <p>
              Sincerely,
              <br />
              <span class="merienda">Santa</span>
            </p>
          </div>
        </div>
      </div>
      <!--...-->
    </div>
  </section>
  <section class="in-front">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-third">
          <div class="box info-box">
            <h2 class="title is-3">What</h2>
            <p>
              A puzzle hunt released as an advent calendar—one puzzle a day. See our <a href="{% url 'about' %}">About</a> page for more information.
            </p>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box info-box">
            <h2 class="title is-3">When</h2>
            <p>
              December 1 through December 24, 2024. Puzzle pages and answer checkers will be released daily at
              <a href="https://everytimezone.com/?t=674cf880,1"
                 rel="noopener noreferrer">12:01 a.m. (midnight) UTC</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
  </div>
{% endblock body %}
