{% extends "base.html" %}
{% block title %}
  Secret Organizer Dashboard | {{ META_TITLE }}
{% endblock title %}
{# djlint:off #}
  {% block og_title %}Secret Organizer Dashboard | {{ META_TITLE }}{% endblock og_title %}
{# djlint:on #}
{% block header_extra %}
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
          integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
          crossorigin="anonymous"></script>
  <link rel="stylesheet"
        href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"
        integrity="sha384-eCorNQ6xLKDT9aok8iCYVVP8S813O3kaugZFLBt1YhfR80d1ZgkNcf2ghiTRzRno"
        crossorigin="anonymous">
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"
          integrity="sha384-cDXquhvkdBprgcpTQsrhfhxXRN4wfwmWauQ3wR5ZTyYtGrET2jd68wvJ1LlDqlQG"
          crossorigin="anonymous"></script>
  {% include "partials/timestamp_localize_libraries.html" %}
{% endblock header_extra %}
{% block content %}
  <h1 class="title is-1 block">Secret Hunt Organizer Dashboard 🤫</h1>
  <h2 class="title is-2 block">Last 200 Solves ✅</h2>
  <table id="recent-solves" class="display block">
  </table>
  <h2 class="title is-2 block">Last 200 Guesses 📥</h2>
  <table id="recent-guesses" class="display block">
  </table>
  <script>
    render_in_local_time = function(data, type, row) {
      // https://datatables.net/manual/data/orthogonal-data#Computed-values
      // If display or filter data is requested, format the date
      if ( type === 'display' || type === 'filter' ) {
        return moment.tz(data, userTimeZone).format('{{output_format|default:"MMM D, YYYY hh:mm:ss A z"}}');
      }
      // Otherwise the data type requested (`type`) is type detection or
      // sorting data, for which we want to use the integer, so just return
      // that, unaltered
      return data;
    }
    var recentSolves = {{ recent_solves_json|safe }};
    $('#recent-solves').DataTable({
      data: recentSolves,
      columns: [
        { title: 'Team', data: "team" },
        { title: 'Puzzle', data: "puzzle" },
        { title: 'Time', data: "timestamp", render: render_in_local_time, searchable: false },
      ],
      order: [[2, 'desc']],
    });
    var recentGuesses = {{ recent_guesses_json|safe }};
    $('#recent-guesses').DataTable({
      data: recentGuesses,
      columns: [
        { title: 'Team', data: "team" },
        { title: 'Puzzle', data: "puzzle" },
        { title: 'Guess', data: "text" },
        { title: 'Evaluation', data: "evaluation" },
        { title: 'Time', data: "timestamp", render: render_in_local_time, searchable: false },
      ],
      order: [[4, 'desc']],
    });
  </script>
{% endblock content %}
