{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  {{ puzzle.title }} | {{ META_TITLE }}
{% endblock title %}
{% block header_extra %}
  {% include "partials/timestamp_localize_libraries.html" %}
{% endblock header_extra %}
{% block body %}
  <section class="section no-bottom-padding">
    <div class="container has-text-centered">
      {% include "partials/announcement_message.html" %}
      {% include "partials/messages.html" %}
      <link href="{% static 'css/puzzle_detail.css' %}" rel="stylesheet" />
      <h1 class="title is-1 block">
        {{ puzzle.title }}
        {% if not puzzle.is_available %}<span class="tag is-danger">Preview</span>{% endif %}
      </h1>
      {% if hunt_state >= HuntState.ENDED %}
        <div id="solution-and-stats"
             class="is-flex is-justify-content-space-around is-align-items-center block">
          <p>
            <a href="{{ puzzle.get_solution_absolute_url }}"
               class="button is-primary">View solution</a>
          </p>
          <p class="has-text-grey">
            Solves: {{ puzzle.num_solves }}&nbsp;&nbsp;|&nbsp;&nbsp;Incorrect guesses: {{ puzzle.num_incorrect_guesses }}
          </p>
        </div>
      {% endif %}
      {% if puzzle.errata.exists %}
        <div id="errata" class="card is-toggleable block">
          <header class="card-header">
            <p class="card-header-title">
              Errata ({{ puzzle.errata.all|length }})
              <span class="has-text-grey-light">&nbsp;—
                <span class="errata-timestamp">{{ puzzle.errata.first.published_at|date:"c" }}</span>
              </span>
            </p>
            {% include "partials/card_toggle_indicator.html" with start_hidden=True %}
          </header>
          <div class="card-content has-text-left is-hidden">
            {% for erratum in puzzle.errata.all %}
              <p class="block">
                <strong><span class="errata-timestamp">{{ erratum.published_at|date:"c" }}</span></strong> — {{ erratum.text }}
              </p>
            {% endfor %}
          </div>
        </div>
        {% include "partials/timestamp_localize_script.html" with timestamp_class="errata-timestamp" output_format="MMM D, YYYY hh:mm A z" %}
      {% endif %}
      {% if puzzle.canned_hints.exists %}
        <div id="canned-hints" class="card is-toggleable block">
          <header class="card-header">
            <p class="card-header-title">Hints</p>
            {% include "partials/card_toggle_indicator.html" with start_hidden=True %}
          </header>
          <div class="card-content has-text-left is-hidden">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" align="left">Keywords</th>
                  <th scope="col" align="left">Hint</th>
                </tr>
              </thead>
              <tbody>
                {% for canned_hint in puzzle.canned_hints.all %}
                  <tr>
                    <td align="left">
                      <span class="spoiler">{{ canned_hint.render_keywords | safe }}</span>
                    </td>
                    <td align="left">
                      <span class="spoiler">{{ canned_hint.render_text | safe }}</span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      <div id="answer-checker" class="card is-toggleable block">
        <header class="card-header">
          <p class="card-header-title">Check&nbsp;answer</p>
          {% include "partials/card_toggle_indicator.html" %}
        </header>
        <div class="card-content">
          {% if hunt_state < HuntState.ENDED %}
            <!--SERVERSIDE ANSWER CHECKER-->
            <div id="guess-form" class="block">{% crispy form %}</div>
            <div id="guesses-results" class="block">
              {% if guesses %}
                {% include "partials/puzzle_guess_list.html" %}
              {% endif %}
            </div>
          {% else %}
            {% include "partials/clientside_answer_checker.html" %}
          {% endif %}
        </div>
      </div>
      {% include "partials/card_toggle_script.html" %}
      <div class="is-flex help-container is-justify-content-space-between block">
        <p class="has-text-grey">
          <i class="bi bi-info-circle"></i>
          Scroll with cursor within PDF frame to scroll PDF. Scroll with cursor outside of frame to scroll webpage.
        </p>
        <p class="has-text-centered">
          {% if puzzle.clipboard_data %}
            <a class="button is-small is-focused"
               href="javascript: copyToClipboard();"
               data-tts
               aria-label="Copy puzzle content to clipboard">
              <span>&nbsp;<i class="bi bi-clipboard"></i>&nbsp;</span>
            </a>
          {% endif %}
          {% if puzzle.external_links %}
            {% for external_link in puzzle.external_links.all %}
              <a class="button is-small is-focused"
                 href="{{ external_link.url }}"
                 target="_blank"
                 rel="noopener noreferrer"
                 data-tts
                 aria-label="{{ external_link.description }}">
                <span>&nbsp;{{ external_link.html|safe }}&nbsp;</span>
              </a>
            {% endfor %}
          {% endif %}
          <a class="button is-small"
             href="{{ puzzle.pdf_url }}"
             target="_blank"
             rel="noopener noreferrer"
             data-tts
             aria-label="Open PDF in new tab">
            <span>&nbsp;<i class="bi bi-file-earmark-arrow-up"></i>&nbsp;</span>
          </a>
          <a class="button is-small"
             href="{{ puzzle.pdf_url }}"
             download
             data-tts
             aria-label="Download PDF">
            <span>&nbsp;<i class="bi bi-download"></i>&nbsp;</span>
          </a>
          <a class="button is-small"
             href="javascript: document.body.scrollIntoView(false);"
             data-tts
             aria-label="Jump to bottom">
            <span>&nbsp;<i class="bi bi-chevron-double-down"></i>&nbsp;</span>
          </a>
        </p>
      </div>
      <div class="has-text-centered block">
        <object data="{{ puzzle.pdf_url }}"
                type="application/pdf"
                class="puzzle-pdf-frame">
          <p>
            Something prevented us from displaying the puzzle! Click <a href="{{ puzzle.pdf_url }}">here</a> to download it instead.
          </p>
        </object>
        <link href="https://cdn.jsdelivr.net/npm/@zkreations/tooltips@4/tooltips.min.css"
              rel="stylesheet" />
      </div>
    </div>
  </section>
  {% if puzzle.clipboard_data %}
    {{ puzzle.clipboard_data.text|json_script:"puzzle-clipboard-data" }}
    <script>
      function copyToClipboard() {
        navigator.clipboard.writeText(JSON.parse(document.getElementById('puzzle-clipboard-data').textContent));
      }
    </script>
  {% endif %}
{% endblock body %}
{% block footer %}
{% endblock footer %}
