{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  {% block og_title %}
    {{ puzzle.name }} | {{ META_TITLE }}
  {% endblock og_title %}
{% endblock title %}
{% block body %}
  <section class="section no-bottom-padding">
    <div class="container has-text-centered">
      {% include "partials/messages.html" %}
      {% include "partials/timestamp_localize_libraries.html" %}
      <link href="{% static 'css/puzzle_detail.css' %}" rel="stylesheet" />
      <h1 class="title is-1 block">
        {{ puzzle.name }}
        {% if not puzzle.is_available %}<span class="tag is-danger">Preview</span>{% endif %}
      </h1>
      <div id="answer-checker" class="card is-toggleable block">
        <header class="card-header">
          <p class="card-header-title">Check&nbsp;answer</p>
          {% include "partials/card_toggle_indicator.html" %}
        </header>
        <div class="card-content">
          <div id="guess-form" class="block">{% crispy form %}</div>
          <div id="guesses-table" class="block">
            {% if guesses %}
              {% include "partials/puzzle_guess_list.html" %}
            {% endif %}
          </div>
        </div>
      </div>
      {% include "partials/card_toggle_script.html" %}
      <div class="is-flex help-container is-justify-content-space-between block">
        <p class="has-text-grey">
          <i class="bi bi-info-circle"></i>
          Scroll with cursor within PDF frame to scroll PDF. Scroll with cursor outside of frame to scroll webpage.
        </p>
        <p class="has-text-centered">
          <a class="button is-small"
             href="javascript: document.body.scrollIntoView(false);"
             data-tts
             aria-label="Jump to bottom">
            <span>&nbsp;<i class="bi bi-chevron-double-down"></i>&nbsp;</span>
          </a>
          <a class="button is-small"
             href="{{ puzzle.pdf_url }}"
             target="_blank"
             data-tts
             aria-label="Open PDF in new tab">
            <span>&nbsp;<i class="bi bi-box-arrow-up-right"></i>&nbsp;</span>
          </a>
          <a class="button is-small"
             href="{{ puzzle.pdf_url }}"
             download
             data-tts
             aria-label="Download PDF">
            <span>&nbsp;<i class="bi bi-download"></i>&nbsp;</span>
          </a>
        </p>
      </div>
      <div class="has-text-centered block">
        <object data="{{ puzzle.pdf_url }}"
                type="application/pdf"
                class="puzzle-pdf-frame">
          <p>
            Something prevented us from displaying the puzzle! Click <a href="{{ puzzle.pdf_url }}">here</a> to download it instead.
          </p>
        </object>
        <link href="https://cdn.jsdelivr.net/npm/@zkreations/tooltips@4/tooltips.min.css"
              rel="stylesheet" />
      </div>
    </div>
  </section>
{% endblock body %}
