{% extends "base.html" %}
{% block content %}
  <h1 class="title is-1 block">The story so far...</h1>
  {% for entry in entries %}
    {% if entry.puzzle is None or entry.puzzle in solves %}
      <div class="box block">
        <div class="content">
          <h3>{{ entry.title }}</h3>
          {% if entry.is_final %}
            <a href="{% url "victory" %}">Click here to view the final story entry.</a>
          {% else %}
            {{ entry.render_content | safe }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock content %}
