{% extends "base.html" %}
{% load common_extras %}
{% block title %}
  Story | {{ META_TITLE }}
{% endblock title %}
{# djlint:off #}
  {% block og_title %}Story | {{ META_TITLE }}{% endblock og_title %}
{# djlint:on #}
{% block content %}
  <h1 class="title is-1 block">The story so far...</h1>
  {% comment %} Pre-hunt story {% endcomment %}
  <div class="card block story-card is-toggleable">
    <header class="card-header">
      <h3 class="card-header-title is-size-4">You find an extravagant holiday card in your mailbox...</h3>
      {% if hunt_is_live %}
        {% include "partials/card_toggle_indicator.html" with start_hidden=True %}
      {% else %}
        {% include "partials/card_toggle_indicator.html" %}
      {% endif %}
    </header>
    <div class="card-content content{% if hunt_is_live %} is-hidden{% endif %}">
      {% include "partials/story_prehunt.html" %}
    </div>
  </div>
  {% comment %} Hunt live story {% endcomment %}
  {% if hunt_is_live %}
    <div class="card block story-card is-toggleable">
      <header class="card-header">
        <h3 class="card-header-title is-size-4">You arrive at the North Pole…</h3>
        {% if entries %}
          {% include "partials/card_toggle_indicator.html" with start_hidden=True %}
        {% else %}
          {% include "partials/card_toggle_indicator.html" %}
        {% endif %}
      </header>
      <div class="card-content content{% if entries %} is-hidden{% endif %}">
        {% markdown "partials/md/story_hunt_live.md" %}
      </div>
    </div>
  {% endif %}
  {% comment %} --- {% endcomment %}
  {% for entry in entries %}
    <div class="card story-card block is-toggleable">
      <header class="card-header">
        <h3 class="card-header-title is-size-4">{{ entry.title }}</h3>
        {% if forloop.counter < entries|length %}
          {% include "partials/card_toggle_indicator.html" with start_hidden=True %}
        {% else %}
          {% include "partials/card_toggle_indicator.html" %}
        {% endif %}
      </header>
      <div class="card-content content{% if forloop.counter < entries|length %} is-hidden{% endif %}">
        {% if entry.is_final %}
          <a href="{% url "victory" %}">Click here to view the final story entry.</a>
        {% else %}
          {{ entry.render_content | safe }}
        {% endif %}
      </div>
    </div>
  {% endfor %}
  {% include "partials/card_toggle_script.html" %}
{% endblock content %}
