{% extends "base.html" %}
{% load common_extras %}
{% load static %}
{% block content %}
  <link href="{% static 'css/team_list.css' %}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@zkreations/tooltips@4/tooltips.min.css"
        rel="stylesheet" />
  <h1 class="title is-1 block">Teams</h1>
  <table class="table is-striped is-narrow xscroll block">
    <thead>
      <tr class="sticky">
        <th class="sticky">Team Name</th>
        <th class="sticky" align="right">#</th>
        {% for day in days %}<th class="center">{{ day }}</th>{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
        <tr>
          <td class="sticky">
            <span {% if team.profile.members %}data-tts aria-label="{{ team.profile.members }}"{% endif %}>
              <a href="{% url 'team_detail' team.id %}">{{ team.team_name }}</a>
            </span>
          </td>
          <td class="sticky" align="right">{{ solves_by_team|dictget:team.id|length }}</td>
          {% for day in days %}
            <td class="center">
              {% if day in solves_by_team|dictget:team.id %}❆{% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
