{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {% include "partials/timestamp_localize_libraries.html" %}
      <h1 class="title is-1 block">{{ team.team_name }}</h1>
      {% if is_self %}
        <div class="notification is-info is-light">
          <div class="level">
            <div class="level-item"></div>
            <div class="level-item"></div>
            <div class="level-item has-text-centered">
              <p>
                <strong>Your username:</strong> {{ team.username }}
              </p>
            </div>
            <div class="level-item"></div>
            <div class="level-item has-text-centered">
              <a class="button is-primary"
                 href="{% url 'account_manage' %}"
                 role="button">Manage your account</a>
            </div>
            <div class="level-item"></div>
            <div class="level-item"></div>
          </div>
        </div>
      {% endif %}
      {% if team.profile.members %}
        <p class="block">
          <strong>Team Members:</strong> {{ team.profile.members }}
        </p>
      {% endif %}
      <h2 class="title is-2 block">Solves</h2>
      <p class="block">
        <strong>Total:</strong> {{ solves|length }}
      </p>
      <table class="table block">
        <thead>
          <tr>
            <th scope="col">Puzzle</th>
            <th scope="col">Solve Time</th>
          </tr>
        </thead>
        <tbody>
          {% for solve in solves %}
            <tr>
              <td>{{ solve.puzzle.name }}</td>
              <td>
                <span class="timestamp">{{ solve.created_at|date:"c" }}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  {% include "partials/timestamp_localize_script.html" %}
{% endblock content %}
