{% extends "base.html" %}
{% load common_extras %}
{% load static %}
{% block content %}
  <link href="{% static 'css/team_list.css' %}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@zkreations/tooltips@4/tooltips.min.css"
        rel="stylesheet" />
  <h1 class="title is-1 block">Teams</h1>
  <p class="block">Teams are ranked by (solving the final puzzle, number of meta solves, number of puzzle solves).</p>
  <table id="leaderboard" class="table is-striped is-narrow xscroll block">
    <thead>
      <tr class="sticky">
        <th class="sticky" align="right">Rank</th>
        <th class="sticky">Team Name</th>
        <th class="sticky" align="right">Solves</th>
        {% for day in days %}<th align="center">{{ day }}</th>{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for entry in leaderboard_data %}
        <tr>
          <td align="right">{{ entry.rank }}</td>
          <td class="sticky">
            <span {% if entry.team.profile.members %}data-tts aria-label="{{ entry.team.profile.members }}"{% endif %}>
              <a href="{% url 'team_detail' entry.team.id %}">{{ entry.team.team_name }}</a>
            </span>
          </td>
          <td class="sticky" align="right">{{ entry.solves|length }}</td>
          {% for day in days %}
            <td align="center">
              {% if day in metas_by_day %}
                {% with metas_by_day|dictget:day as meta_info %}
                  {% if day in entry.solves %}{{ meta_info.icon }}{% endif %}
                {% endwith %}
              {% else %}
                {% if day in entry.solves %}❆{% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
