{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  {{ team.team_name|truncatechars:36 }} | {{ META_TITLE }} | {{ META_TITLE }}
{% endblock title %}
{# djlint:off #}
  {% block og_title %}{{ team.team_name|truncatechars:36 }} | {{ META_TITLE }} | {{ META_TITLE }}{% endblock og_title %}
{# djlint:on #}
{% block content %}
  {% include "partials/timestamp_localize_libraries.html" %}
  {% if is_self %}
    <div class="notification is-info">
      <div class="level">
        <div class="level-item"></div>
        <div class="level-item"></div>
        <div class="level-item has-text-centered">
          <p class="is-size-5">
            <strong>Your team's profile</strong>
          </p>
        </div>
        <div class="level-item"></div>
        <div class="level-item has-text-centered">
          <a class="button is-primary"
             href="{% url 'account_manage' %}"
             role="button">Manage your account</a>
        </div>
        <div class="level-item"></div>
        <div class="level-item"></div>
      </div>
    </div>
  {% endif %}
  <h1 class="title is-1 block">{{ team.team_name }}</h1>
  {% if team.profile.members %}
    <p class="block">
      <strong>Team Members:</strong> {{ team.profile.members }}
    </p>
  {% endif %}
  <h2 class="title is-2 block">Solves</h2>
  <p class="block">
    <strong>Total:</strong> {{ solves|length }}
  </p>
  <table class="table block">
    <thead>
      <tr>
        <th scope="col">Puzzle</th>
        {% if is_self %}<th scope="col">Solve Time</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for solve in solves %}
        <tr>
          <td>{{ solve.puzzle.name }}</td>
          {% if is_self %}
            <td>
              <span class="timestamp">{{ solve.created_at|date:"c" }}</span>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "partials/timestamp_localize_script.html" %}
{% endblock content %}
